<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534519212004-ali5furblva4ckrt09dv90h6l5nfsc7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534519212004-ali5furblva4ckrt09dv90h6l5nfsc7b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>534519212004-9gu02dc6e9k0mr9fui9fn0kj0o7aoja6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNRaOL5shDGnauprPRxrBYDfDIUJBH1e4</string>
	<key>GCM_SENDER_ID</key>
	<string>534519212004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.100k.express.courier</string>
	<key>PROJECT_ID</key>
	<string>kuz-79fb2</string>
	<key>STORAGE_BUCKET</key>
	<string>kuz-79fb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534519212004:ios:6f0b94583c3d30b0b289f1</string>
	<key>DATABASE_URL</key>
	<string>https://kuz-79fb2.firebaseio.com</string>
</dict>
</plist>